@tailwind base;
@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/source_sans_pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-SemiBold.ttf");
  font-weight: normal;
  font-display: block;
  font-style: normal;
}

@tailwind components;

h1,
h2,
h3,
h4,
h5 {
  @apply font-display;
}

p,
a,
li,
button {
  @apply font-body;
}

.main-gradient {
  background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

.animate {
  @apply transition-all duration-500 ease-out;
}

.rotate {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@tailwind utilities;
