@tailwind base;
@tailwind components;
@tailwind utilities;

.main-gradient {
  background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

.animate {
  @apply transition-all duration-500 ease-out;
}

.rotate {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
